
body{
	font-size: 12px;
	color: #010101;
	font-family: Arial;
}

[class*='col_']{
	color: #F1F1F1;
	background: #617bdf;
	text-align: center;
	padding: 10px;
	height: 40px;
	box-shadow: inset 1px 1px 1px #aebbee;
}

#normal [class*='col_']{
	color: #F1F1F1;
	background: #d5732e;
	box-shadow: inset 1px 1px 1px #e2a172;
}

.grid{
	background: #DDD;
}

.grid-row{

}