
body{
	font-size: 12px;
	color: #010101;
	font-family: Arial;
}

[class*='col_']{
	background: #CCC;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 20px;
	margin-top: 10px;
	box-shadow: inset 1px 1px 1px white;
}

.grid{
	background: #DDD;
}

.grid-row{

}